<div ng-controller="browsePaintsPageController" class="browse-paints-list">
  <div class="container" ng-hide="loading" ng-cloak>
    <div ng-show="loading" >
      <span class="overlord-loading-spinner fa fa-spinner"></span>
      <span>Loading user data...</span>
    </div>
    <div>
      <h1 class="paint-list-header text-primary">All Paints:</h1>
    </div>
    <div class="row">
      <div class="well">
        <ul class="list-group">
          <li class="paint list-group-item" ng-repeat="paint in paints">
            <a href="/paints/{{paint.id}}" class="list-group-item paints-list">
              <h3 class="paint-title list-group-item-heading center-block">
                {{ paint.title }}
              </h3>
              <img class="img-thumbnail" src="{{ paint.imgSrc }}" />
              
              
              <ul class="paint-info list-inline list-unstyled">
                <li>
                  <span><i class="icon fa fa-user"></i> By {{ paint.owner }}</span>
                </li>
                <li class="divider">|</li>
                <li>
                  <span>Created </i>  {{ paint.created }}</span>
                </li>
                <li class="divider">|</li>
                <li>
                  <span>
                    <span class="rating-label">Average Rating:</span>
                      <span class="rating-stars">
                        <rating ng-model="paint.averageRating" max="max" readonly="isReadonly" on-hover="hoveringOver(value, paint.id)" on-leave="overStar = null"></rating>
                      </span>
                    </span>
                </li>
              </ul>
            </a>
          </li>
        </ul>
        <button class="btn btn-primary center-block" ng-click="fetchMorePaintsLikeThis()" ng-disabled="loading || noMorePaints" >
          <span ng-show="!loading">show more paints</span>
            <span ng-show="loading"><i class="overlord-loading-spinner fa fa-spinner" ></i></span>
        </button>
      </div>
    </div>
  </div>
</div>