<script type="text/javascript">
  // In case SAILS_LOCALS doesn't exist, set it to an empty dictionary.
  window.SAILS_LOCALS = window.SAILS_LOCALS || {};
  <%
  // This technique is called short-circuiting.  Here's why this works:
  // ```
  // false || true  // => true
  // false || 6  // => 6
  // undefined || true // => true
  // undefined || 6 // => 6
  // ```
  //
  // Caveats:
  // Note that this can have unexpected results if SAILS_LOCALS is something
  // unexpectedly falsy (like empty string, null, false, 0).  Also note this doesn't
  // ensure that window.SAILS_LOCALS is a dictionary.  We could check that, but it's
  // probably ok (also we don't have access to lodash here so I'm mainly being lazy)

  // So the reason why we did that is just to be safe (what if the navigation.ejs
  // partial is no longer used at some point?  This would throw a weird error that
  // might make us annoyed or distressed)
  // Now we can set a property on the window.SAILS_LOCALS dictionary with confidence
  // that it is(...probably...) a dictionary.  And if it did already exist, we're not
  //  overriding it (just adding a property to it.)
  %>
  window.SAILS_LOCALS.paint =
  <%- typeof paint !== 'undefined' ? JSON.stringify(paint) :null %>;
</script>
<div ng-controller="paintsDetailEditPageController" ng-cloak class="panel-page">
  <div class="container well">
    <h1>Edit a Paint </h1>
  </div>
  <div class="row">
    <!-- grey background with border -->
    <div class="container well">
      <%
        // Using EJS tags so this doesn't show up in the page.
        // The validation is tied to the form's `name` property.  Each input has it's
        // own `ng-class` and `required` directives. The submit button's ng-disabled
        // directive is tied to $invalid.
      %>
      <!-- Add NEW paint form -->
      <form role="form" class='form-horizontal' name="editPaint" ng-submit="submitEditPaintForm(<%= paint.id %>)">
        <!-- white background with border -->
        <!-- T I T L E -->
        <div class="form-group" ng-class="{'has-error':editPaint.title.$invalid &&editPaint.title.$dirty}">
          <div class="list-group-item">
            <label for="title" class=" control-label">Title</label>
            <input type="text" class="form-control" name="title" autofocus placeholder="e.g. paint title" ng-model="paintDetailsEdit.title" required>
          </div>
          <span class="help-block has-error" ng-if="editPaint.title.$dirty">
            <span ng-show="editPaint.title.$error.required">Title is required.</span>
          </span>
        </div>
        
        <!-- D E S C R I P T I O N -->
        <div class="form-group" ng-class="{'has-error':editPaint.description.$invalid &&editPaint.description.$dirty}">

          <div class="list-group-item">
            <label for="description" class=" control-label">Description</label>
            <textarea class="form-control" rows="3" name="description" placeholder="e.g. paint description" ng-model="paintDetailsEdit.description" required></textarea>
          </div>
          <span class="help-block has-error" ng-if="editPaint.description.$dirty">
            <span ng-show="editPaint.description.$error.required">Description is required.</span>
          </span>
        </div>
       
        <!-- I M A G E  S O U R C E -->
        <div class="form-group" ng-class="{'has-error':editPaint.imgSrc.$invalid &&editPaint.imgSrc.$dirty}">

          <div class="list-group-item">
            <label for="imgSrc" class=" control-label">Paint URL</label>
            <input class="form-control" rows="3" name="imgSrc" placeholder="e.g. paint img" ng-model="paintDetailsEdit.imgSrc" required></input>
          </div>
          <span class="help-block has-error" ng-if="editPaint.imgSrc.$dirty">
            <span ng-show="editPaint.imgSrc.$error.required">img is required.</span>
          </span>
        </div>
        

        <!-- P R I C E -->
        <div class="form-group" ng-class="{'has-error':editPaint.price.$invalid &&editPaint.price.$dirty}">

          <div class="list-group-item">
            <label for="price" class=" control-label">Price</label>
            <textarea type="number" class="form-control" rows="3" name="description" placeholder="e.g. 56.5" ng-model="paintDetailsEdit.price" required></textarea>
          </div>
          <span class="help-block has-error" ng-if="editPaint.price.$dirty">
            <span ng-show="editPaint.price.$error.required">Price is required.</span>
          </span>
        </div>

         <!-- W I D T H  -->
        <div class="form-group" ng-class="{'has-error':editPaint.width.$invalid &&editPaint.width.$dirty}">

          <div class="list-group-item">
            <label for="width" class=" control-label">Width</label>
            <textarea type="number" class="form-control" rows="3" name="width" placeholder="e.g. 14" ng-model="paintDetailsEdit.width" required></textarea>
          </div>
          <span class="help-block has-error" ng-if="editPaint.width.$dirty">
            <span ng-show="editPaint.width.$error.required">Width is required.</span>
          </span>
        </div>

        <!-- H E I G H T  -->
        <div class="form-group" ng-class="{'has-error':editPaint.width.$invalid &&editPaint.height.$dirty}">

          <div class="list-group-item">
            <label for="height" class=" control-label">Height</label>
            <textarea type="number" class="form-control" rows="3" name="height" placeholder="e.g. 28" ng-model="paintDetailsEdit.height" required></textarea>
          </div>
          <span class="help-block has-error" ng-if="editPaint.height.$dirty">
            <span ng-show="editPaint.height.$error.required">Width is required.</span>
          </span>
        </div>

       
       
       
        <span class="pull-right">
          <a href="/paints/<%=paint.id%>" class="btn btn-default">cancel</a>
          <button type="submit" ng-click="submitEditPaintForm()" ng-disabled="editPaint.$invalid" class="btn btn-success">save</button>
        </span>
      </form>
    </div>
  </div>
</div>