<div ng-controller="paintsDetailNewPageController" ng-cloak class="panel-page">
  <div class="container well">
    <h1>Add a Paint    </h1>
  </div>
  <div class="row">
    <!-- grey background with border -->
    <div class="container well">
      <%
        // Using EJS tags so this doesn't show up in the page.
        // The validation is tied to the form's `name` property.  Each input has it's
        // own `ng-class` and `required` directives. The submit button's ng-disabled
        // directive is tied to $invalid.
      %>
      <!-- Add NEW paint form -->
      <form role="form" class='form-horizontal' name="newPaint">
        <!-- white background with border -->
        <!-- T I T L E -->
        <div class="form-group" ng-class="{'has-error':newPaint.title.$invalid &&newPaint.title.$dirty}">
          <div class="list-group-item">
            <label for="title" class=" control-label">Title</label>
            <input type="text" class="form-control" name="title" autofocus placeholder="e.g. paint title" ng-model="paintDetailsNew.title" required>
          </div>
          <span class="help-block has-error" ng-if="newPaint.title.$dirty">
            <span ng-show="newPaint.title.$error.required">Title is required.</span>
          </span>
        </div>
        <!-- D E S C R I P T I O N -->
        <div class="form-group" ng-class="{'has-error':newPaint.description.$invalid &&newPaint.description.$dirty}">

          <div class="list-group-item">
            <label for="description" class=" control-label">Description</label>
            <textarea class="form-control" rows="3" name="description" placeholder="e.g. paint description" ng-model="paintDetailsNew.description" required></textarea>
          </div>
          <span class="help-block has-error" ng-if="newPaint.description.$dirty">
            <span ng-show="newPaint.description.$error.required">Description is required.</span>
          </span>
        </div>
        <!-- I M A G E  S O U R C E -->
        <div class="form-group" ng-class="{'has-error':newPaint.imgSrc.$invalid &&newPaint.imgSrc.$dirty}">

          <div class="list-group-item">
            <label for="imgSrc" class=" control-label">imgSrc</label>
            <textarea class="form-control" rows="3" name="imgSrc" placeholder="e.g. paint img" ng-model="paintDetailsNew.imgSrc" required></textarea>
          </div>
          <span class="help-block has-error" ng-if="newPaint.imgSrc.$dirty">
            <span ng-show="newPaint.imgSrc.$error.required">img is required.</span>
          </span>
        </div>
        
                

       
   
        <!-- P R I C E -->
        <div class="form-group" ng-class="{'has-error':newPaint.price.$invalid &&newPaint.price.$dirty}">

          <div class="list-group-item">
            <label for="price" class=" control-label">Price</label>
            <textarea class="form-control" rows="3" name="price" placeholder="e.g. 56.5" ng-model="paintDetailsNew.price" required></textarea>
          </div>
          <span class="help-block has-error" ng-if="newPaint.price.$dirty">
            <span ng-show="newPaint.price.$error.required">Price is required.</span>
          </span>
        </div>
       
         <!-- W I D T H  -->
        <div class="form-group" ng-class="{'has-error':newPaint.width.$invalid &&newPaint.width.$dirty}">

          <div class="list-group-item">
            <label for="width" class=" control-label">Width</label>
            <textarea  class="form-control" rows="3" name="width" placeholder="e.g. 14" ng-model="paintDetailsNew.width" required></textarea>
          </div>
          <span class="help-block has-error" ng-if="newPaint.width.$dirty">
            <span ng-show="newPaint.width.$error.required">Width is required.</span>
          </span>
        </div>
       
        <!-- H E I G H T  -->
        <div class="form-group" ng-class="{'has-error':newPaint.width.$invalid &&newPaint.height.$dirty}">

          <div class="list-group-item">
            <label for="height" class=" control-label">Height</label>
            <textarea class="form-control" rows="3" name="height" placeholder="e.g. 28" ng-model="paintDetailsNew.height" required></textarea>
          </div>
          <span class="help-block has-error" ng-if="newPaint.height.$dirty">
            <span ng-show="newPaint.height.$error.required">Width is required.</span>
          </span>
        </div>
       
        
        
        <span class="pull-right">
          <a href="/<%=me.username%>" class="btn btn-default">cancel</a>
          <button type="submit" ng-click="createPaint()" ng-disabled="newPaint.$invalid" class="btn btn-success">save</button>
        </span>
      </form>
    </div>
  </div>
</div>