<script type="text/javascript">
  window.SAILS_LOCALS.paint = <%-
    // Note that by putting these comments inside of the EJS tag, we prevent them from
    // being sent down to client (i.e. they are boiled away on the server along
    // with the EJS tags)
    //
    // Notice we must check that `stars` exists using typeof to keep EJS from throwing
    // and displaying an ugly error message when rendering certain pages
    // (i.e. 404 /500 error pages)
    typeof paint !== 'undefined' ? JSON.stringify(paint) : 'null'
    // Note that we deliberately use 'null' (a string) because EJS converts the
    // `null` literal  into empty string (''), which is not what we want (that would
    // be invalid JS and cause a client-side error in the browser)
  %>;
  window.SAILS_LOCALS.reviews = <%-
// Note that by putting these comments inside of the EJS tag, we prevent them from
// being sent down to client (i.e. they are boiled away on the server along
// with the EJS tags)
typeof reviews !== 'undefined' ? JSON.stringify(reviews) : 'null'
// Note that we deliberately use 'null' (a string) because EJS converts the
// `null` literal  into empty string (''), which is not what we want (that would
// be invalid JS and cause a client-side error in the browser)
%>;

</script>

<div class="paint-details" ng-controller="paintsDetailPageController" ng-cloak>
  <div class="container">
    <div class="well">
      <div class="panel panel-default">
        <!-- Paint Details -->
       
       <div class="panel-body" > 
          
          <ul class="list-inline list-unstyled text-left">
          
          
          <li>
        <div>
          <h1 class="paint-title text-info">
            <%= paint.title %>
          </h1>

          <div class="row">
            <div class="col-md-6">
              <p class="paint-description">
                <%= paint.description %>
              </p>
            </div>
            <div class="col-md-6">
              <!-- Edit, Delete, Add Video -->
              <% if (me && me.isMe) { %>
              <div>
                <ul class="list-inline list-unstyled text-right">
                  <li><a href="/paints/<%= paint.id %>/edit" class="btn btn-default">edit</a></li>
                  <li><a ng-click="deletePaint(<%= paint.id %>)" class="btn btn-default">
                      <span ng-show="!paintDetails.deletePaintLoading">delete</span>
                      <span class="overlord-loading-spinner fa fa-spinner" ng-show="paintDetails.deletePaintLoading" ></span>
                      <span ng-show="paintDetails.deletePaintLoading"></span>
                      </a></li>
                  
                </ul>
              </div>
              <% } %>
            </div>
          </div>
          <!-- inline created, Modified, duration, rating, myRating  -->
          <div class="paint-info">
            <ul class="list-inline">
              <li>By <strong><a href="/<%= paint.owner %>"><%= paint.owner %></a></strong></li>
              <li class="divider">|</li>
              <li>
                <span>Created  <%= paint.created %></span>
              </li>
              
                <li class="divider">|</li>
              <li>
                <% if (!paint.price) { %>
                  <span><i class="icon fa fa-money"></i> no price</span>
                <% } else { %>
                  <span><i class="icon fa fa-money"></i>  <%= paint.price %></span>
                <% } %>
              </li>
              
              <li class="divider">|</li>
              <li>
                <% if (!paint.width||!paint.height) { %>
                  <span><i class="icon fa fa-picture-o"></i> no size</span>
                <% } else { %>
                  <span><i class="icon fa fa-picture-o"></i>  <%= paint.width %> X <%= paint.height %> cm</span>
                    <% } %>
              </li>
              
              
             
                <!-- Empty state of paint.averageRating -->
                <% if (!paint.averageRating) { %>
                  
                <% } else { %> 
                <li class="divider">|</li>
              <li>
                  <!-- paint.averageRating -->
                  <span>
                    <span class="rating-label">Average Rating:</span>
                    <span class="rating-stars">
                      <rating ng-model="averageRating" max="max" readonly="true"></rating>
                    </span>
                  </span>
                  </li>
                <% } %>
              
              <!-- Don't show myRating unless authenticated -->
              <% if (me && !me.isMe) { %>
                <li class="divider">|</li>
                <li>
                  <span>myRating: <rating ng-model="myRating" max="max" readonly="isReadonly" on-hover="hoveringOver(value, <%= paint.id %>)"></rating></span>
                  <span ng-show="paintDetails.loading" class="fa fa-spinner"></span>
                  <span ng-hide="hideChangeRating">
                    <button ng-click="changeRating()" class="btn btn-primary btn-xs">change</button>
                  </span>
                </li>
              <% } %>
            </ul> <!-- class="list-inline list-unstyled" -->
          </div> <!-- </paint-info> -->
        </div> </li>
        </ul>
        
        <div align="center">
          <% if (!paint.imgSrc) { %>
                  <img  class="img-responsive" src="http://lietuve.lt/wp-content/uploads/2016/07/6980831-mood-paint-brush.jpg" />
                <% } else { %>
                  <img class="img-responsive" src="<%= paint.imgSrc %>"  height="350px" />
                <% } %>
          </div>
        
        
        </div><!-- </panel-body> -->
      </div> <!-- </panel> -->
      
        </div>
    <div class="review-column ">
        <form role="form" ng-submit="sendMessage()">
          <div class="panel panel-default">
            <div class="panel-heading lead">
              <i class="fa fa-comment"></i> Review
            </div>
            <div class="panel-body">
              <ul class="review-window">
                <div class="review clearfix" ng-repeat="review in reviews">
                  <div class="review-body">
                    <img class="review-avatar"ng-src="{{review.gravatarURL}}">
                    <div class="header">
                      <span class="username">{{review.username}} </span>
                      <small class="pull-right">{{review.created}}</small>
                    </div>
                    <p class="message">
                      {{review.message}}
                    </p>
                  </div>
                </div>
              </ul>
            </div>
            <div class="panel-footer">
              <div class="input-group">
                <input id="btn-input" type="text" class="form-control input-sm" ng-model="message"placeholder="Type your message here..." ng-keypress="whenTyping($event)" ng-focus="whenTyping($event)" ng-blur="whenNotTyping($event)" ng-disabled="!me">
                <span class="input-group-btn">
                  <button type="submit" ng-disabled="!hasJoinedRoom || !me" class="btn btn-info btn-sm" id="btn-review">
                    Add</button>
                </span>
              </div>
              <div ng-show="typing">
                {{usernameTyping}} is typing...<i class="overlord-loading-spinner fa fa-spinner" ></i>
              </div>
            </div>
          </div><!-- class="panel panel-primary" -->
        </form>
      </div>
      
  </div> <!-- class="container"> -->
</div> <!-- ng-controller="paintsDetailPageController" ng-cloak> -->