<script type="text/javascript">
  window.SAILS_LOCALS.frontEnd = <%-
    // Note that by putting these comments inside of the EJS tag, we prevent them from
    // being sent down to client (i.e. they are boiled away on the server along
    // with the EJS tags)
    //
    // Notice we must check that `stars` exists using typeof to keep EJS from throwing
    // and displaying an ugly error message when rendering certain pages
    // (i.e. 404 /500 error pages)
    typeof frontEnd !== 'undefined' ? JSON.stringify(frontEnd) : 'null'
    // Note that we deliberately use 'null' (a string) because EJS converts the
    // `null` literal  into empty string (''), which is not what we want (that would
    // be invalid JS and cause a client-side error in the browser)
    %>;
</script>
<div ng-controller="profilePageController" ng-cloak class="profile">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-stats list-group">
          <div class="profile-item list-group-item">
            <div class="avatar-container">
              <img class="avatar-img" src="<%= gravatarURL %>"/>
            </div>
          </div>
          <a class="profile-item list-group-item" href="/<%= username %>">
            <!-- <i class="fa fa-asterisk"></i> -->
            <span class="badge">{{ numOfPaints }}</span>
            Paints
          </a>
          <a class="profile-item list-group-item" href="/<%= username %>/following">
            Following
            <span class="badge">{{ numOfFollowing }}</span>
          </a>
          <a class="profile-item list-group-item" href="/<%= username %>/followers">
            <span class="badge">{{ numOfFollowers }}</span>
            Followers
          </a>
        </div>
        <% if (me && !me.isMe) { %>
          <div class="text-center" ng-show="!followedByLoggedInUser">
            <button class="btn btn-primary" type="button" ng-click="followOrUnfollow()" ng-diabled="userProfile.loading">
              Follow me <span class="badge"><span class="fa fa-user"></span></span>
            </button>
          </div>
            <div class="text-center" ng-show="followedByLoggedInUser">
            <button class="btn btn-danger" type="button" ng-click="followOrUnfollow()" ng-diabled="userProfile.loading">
              Unfollow me <span class="badge"><span class="fa fa-user"></span></span>
            </button>
          </div>
          
           <div class="text-center" ng-show="followedByLoggedInUser">
            <button class="btn btn-danger" type="button" ng-click="followOrUnfollow()" ng-diabled="userProfile.loading">
              Unfollow me <span class="badge"><span class="fa fa-user"></span></span>
            </button>
          </div>
          
          
          <div class="text-center">
            <br><br>
           
            <a  class="btn btn-info" target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=<%= email %>">Contact</a>

          </div>
          
          
          
          
        <% } %>
      </div>
      <% if (me && me.isMe ) { %>
        <div class="col-md-3 profile-edit-separation" >
          <h1><%=me.username %></h1>
          <h3> <a href="mailto:<%= me.email %>"><%= me.email %></a></h3>
          <div>
            <a href="/profile/edit" class="btn btn-lg btn-primary">Edit</a>
            <a ng-click="removeProfile()" class="btn btn-lg btn-primary btn-danger">Delete</a>
          </div>
        </div>
      <% } %>
      <div class="paints col-md-9">
        <div class="paint-list list-group">
          <div class="list-group-item list-group-header">
            <% if (me && me.isMe ) { %>
            <h1>My Paints</h1>
            <% } else { %>
            <h1><%= username %>'s Paints</h1>
            <% } %>
          </div>
        <% if (paints.length === 0) { %>
        <div class="list-group-item empty-state">
          <% if (me && me.isMe ) { %>
          <p> You don’t have any paints yet. Want to <a href="/paints/new">add one</a>? </p>
          <% } else { %>
          <p> This user has not created any paints.</p>
          <% } %>
        </div>
        <% } else { %>
          <% _.forEach(paints, function(paint){ %>
          <a href="/paints/<%= paint.id %>" class="list-group-item paint">
            <h3 class="paint-title list-group-item-heading">
            <%- paint.title %>
            </h3>
            <p class="paint-description list-group-item-text">
              <%- paint.description %>
            </p>
            <ul class="paint-info list-inline list-unstyled">
              <li>
                <i class="icon fa fa-user"></i>
                <span>By <%= paint.owner %></span>
              </li>
              <li class="divider">|</li>
              <li>
                <span>Created </i>  <%- paint.created %></span>
              </li>
              <li class="divider">|</li>
              <li>
                 <% if (!paint.width||!paint.height) { %>
                  <span><i class="icon fa fa-picture-o"></i> no size</span>
                <% } else { %>
                  <span><i class="icon fa fa-picture-o"></i>  <%= paint.width %> X <%= paint.height %> cm</span>
                    <% } %>
              </li>
              <li class="divider">|</li>
              <li>
                <span class="rating-label">Average Rating:</span>
                <span class="rating-stars">
                  <% for (i = 0; i < paint.averageRating; i++) {  %>
                  <span class="fa fa-star"></span>
                  <% } %>
                  <% for (i = 0; i < 5-paint.averageRating; i++) {  %>
                  <span class="fa fa-star-o"></span>
                  <% } %>
                </span>
              </li>
            </ul>
          </a>
          <% }) %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>