<script type="text/javascript">
  window.SAILS_LOCALS.frontEnd = <%-
    // Note that by putting these comments inside of the EJS tag, we prevent them from
    // being sent down to client (i.e. they are boiled away on the server along
    // with the EJS tags)
    //
    // Notice we must check that `stars` exists using typeof to keep EJS from throwing
    // and displaying an ugly error message when rendering certain pages
    // (i.e. 404 /500 error pages)
    typeof frontEnd !== 'undefined' ? JSON.stringify(frontEnd) : 'null'
    // Note that we deliberately use 'null' (a string) because EJS converts the
    // `null` literal  into empty string (''), which is not what we want (that would
    // be invalid JS and cause a client-side error in the browser)
    %>;
</script>
<div class="profile" ng-controller="profileFollowersPageController" ng-cloak>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-stats list-group">
          <div class="profile-item list-group-item">
            <div class="avatar-container">
              <img class="avatar-img" src="<%= gravatarURL %>"/>
            </div>
          </div>
          <a class="profile-item list-group-item" href="/<%= username %>">
            <!-- <i class="fa fa-asterisk"></i> -->
            <span class="badge">{{ numOfPaints }}</span>
            Paints
          </a>
          <a class="profile-item list-group-item"href="/<%= username %>/following">
            Following
            <span class="badge">{{ numOfFollowing }}</span>
          </a>
          <a class="profile-item list-group-item" href="/<%= username %>/followers">
            <span class="badge">{{ numOfFollowers }}</span>
            Followers
          </a>
        </div>
        <% if (me && !me.isMe) { %>
          <div class="text-center" ng-show="!followedByLoggedInUser">
            <button class="btn btn-primary" type="button" ng-click="followOrUnfollow()" ng-diabled="userProfile.loading">
              Follow me <span class="badge"><span class="fa fa-user"></span></span>
            </button>
          </div>
            <div class="text-center" ng-show="followedByLoggedInUser">
            <button class="btn btn-danger" type="button" ng-click="followOrUnfollow()" ng-diabled="userProfile.loading">
              Unfollow me <span class="badge"><span class="fa fa-user"></span></span>
            </button>
          </div>
        <% } %>
      </div>
      <% if (me && me.isMe ) { %>
        <div class="col-md-3 profile-edit-separation" >
          <h1><%=me.username %></h1>
          <h3> <a href="mailto:<%= me.email %>"><%= me.email %></a></h3>
          <div>
            <a href="/profile/edit" class="btn btn-lg btn-primary">Edit</a>
            <a ng-click="removeProfile()" class="btn btn-lg btn-primary btn-danger">Delete</a>
          </div>
        </div>
      <% } %>
      <div class="paints col-md-9">
        <div class="paint-list list-group">
          <div class="list-group-item list-group-header">
            <div ng-if="followers.length < 1">
              <p> no followers yet.</p>
            </div>
            <div ng-if="me && me.isMe && followers.length > 0">
              <h1>My followers</h1>
            </div>
            <div ng-if="!me.isMe && followers.length > 0">
              <h1><%= username%>'s Followers</h1>
            </div>
              <div ng-if="followers.length">
                <div class="row">
                  <div ng-repeat="follower in followers">
                    <a href="/{{ follower.username }}">
                      <div class="col-md-4">
                        <div class="panel panel-default">
                          <div class="panel-heading text-center"><h3> {{ follower.username }} </h3></div>
                          <div class="panel-body text-center"><img class="avatar-image" ng-src="{{follower.gravatarURL}}" ></div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>