




// .gi-05{font-size: .5em;}
// .gi-075{font-size: .75em;}


// // .profile-img {
// //   width: 102px;
// //   height: 178px;
// //   margin: 0 auto 10px;
// //   display: block;
// // }

// // a.paints-list {
// //     height:auto;
// //     min-height:175px;
// // }
// // a.paints-list.active small {
// //     color:#fff;
// // }

// // // Used
// // .paints-detail.list-group-item {
// //     // Floats causing problem with the height
// //     // see: http://stackoverflow.com/questions/24285260/bootstrap-css-height-of-list-group-item
// //     overflow:hidden;
// //     // min-height:175px;
// // }

// // // Probably safe to delete
// // // .paints-detail.list-group-item.active small {
// // //     color:#fff;
// // // }

// // .form-inline .form-group{
// //     margin-left: 0;
// //     margin-right: 0;
// // }

// .preview-youtube {
//     margin-top: 10px;
//     margin-bottom: 10px;
// }

// // Review

// .review
// {
//     list-style: none;
//     margin: 0;
//     padding: 0;
// }

// .review li
// {
//     margin-bottom: 10px;
//     padding-bottom: 5px;
//     border-bottom: 1px dotted #B3A9A9;
// }

// .review li.left .review-body
// {
//     margin-left: 60px;
// }

// .review li.right .review-body
// {
//     margin-right: 60px;
// }


// .review li .review-body p
// {
//     margin: 0;
//     color: #777777;
// }

// .panel .slidedown .glyphicon, .review .glyphicon
// {
//     margin-right: 5px;
// }

// .panel-body
// {
//     overflow-y: auto;
//     height: 450px;
// }


